@import '../../styles/variables.scss';

.section {
  padding: 0 $base-padding;
  margin: $base-margin 0;
}

.section > h3 {
  margin-bottom: $base-margin;

  color: $primary-color;
  text-transform: uppercase;
}
