$img-real-size: 70px;
$img-scale-factor: 2;

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: $img-real-size;
}

.avatar > img {
  position: relative;
  top: -($img-real-size * ($img-scale-factor - 1)) / 2;

  width: $img-real-size;
  height: $img-real-size;
  transform: scale($img-scale-factor);
  border-radius: 50%;
}
